@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid rgb(74, 74, 74);
}

h1 {
  padding: 1rem;

}

p {
  font-size: 1.1rem;
  padding: .3rem;
  border:none;
  border-bottom: 1px solid rgb(71, 71, 71);
}


.card {
  width:400px;
  height:250px;
  display:flex;
  
  justify-content: space-evenly;
  background-color:white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  margin:1rem;
  padding:1rem;
  color:rgb(77, 77, 77);
  border-radius: 8px;
}

.card img {
  width:100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out .3s;
}





